---
title: The Button Cheat Sheet
description: "Do you need a button for your next project but you’re not sure about the right markup? Don’t worry, we’ve got you covered!"
url: "https://www.buttoncheatsheet.com"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="/assets/style.css">

  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ url }}/assets/sm.png">
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="{{ url }}/">
  <link rel="canonical" href="{{ url }}/">

  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/my.webmanifest">
  <meta name="theme-color" content="#ffd700">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet"> 
</head>

<body>

  <header>

    <h1>{{ title }}</h1>

    <div class="flow">
      <p>
        Do you need a button for your next project but you’re not sure about the right markup?<br>
        Don’t worry, <strong>The Button Cheat Sheet</strong>™️ has got you covered.
      </p>

      <p class="smaller">
        If you’re not sure whether you should use a button or a link, watch <a href="https://www.youtube.com/watch?v=8XjwDq9zG4I&t=1s">The Links vs. Buttons Showdown</a> by <a href="https://marcysutton.com/">Marcy Sutton</a>.
      </p>
    </div>
  </header>

  <main>

  <ol class="sheet">
    <li class="sample">
      <h2>The HTML5 &lt;button&gt;</h2>
  
      <p class="rating rating--good">
        Rating: Good, use it! 🥳
      </p>
    
      {% highlight "html" %}
        <button>Yea or nay?</button>
      {% endhighlight %}

      <button class="btn" onclick="alert('Yaaay! 🎉');">Yea or nay?</button>

      <h3>Details</h3>

      <ul class="details">
        <li>That’s a proper button!</li>
        <li>It’s focusable</li>
        <li>It has correct key events by default</li>
        <li>Correct <code>button</code> role</li>
        <li>All in all beautiful! ❤️  </li>
      </ul>

    </li>

    <li class="sample">
      <h2>A div <a href="#footnote1" aria-label="Footnote 1">*</a></h2>

      <p class="rating">Rating: The worst, don’t use it! 🤮</p>

      {% highlight "html" %}
        <div>Yea or nay?</div>
      {% endhighlight %}

      <div class="btn" onclick="alert('Naaay! 🤮');">Yea or nay?</div>

      <h3>Details</h3>

      <ul class="details">
        <li>That’s not a button!</li>
        <li>Not keyboard focusable</li>
        <li>No key events by default</li>
        <li>No semantic <code>button</code> role</li>
        <li>Shows wrong cursor on hover</li>
      </ul>
    </li>

    <li class="sample">
      <h2>A focusable div</h2>

      <p class="rating">Rating: Really bad, don’t use it!</p>

      {% highlight "html" %}
        <div tabindex="0">Yea or nay?</div>
      {% endhighlight %}

      <div class="btn" tabindex="0" onclick="alert('Naaay! ☹️');">Yea or nay?</div>

      <h3>Details</h3>

      <ul class="details">
        <li>That’s not a button</li>
        <li>No key events by default</li>
        <li>No semantic <code>button</code> role</li>
        <li>Shows wrong cursor on hover</li>
      </ul>
    </li>
    
    <li class="sample">
      <h2>A focusable div with a button role</h2>

      <p class="rating">Rating: Bad, don’t use it!</p>

      {% highlight "html" %}
        <div tabindex="0" role="button">Yea or nay?</div>
      {% endhighlight %}

      <div class="btn" tabindex="0" role="button" onclick="alert('Naaay! 😫');">Yea or nay?</div>

      <h3>Details</h3>

      <ul class="details">
        <li>It feels like a button, but it’s still not a proper button</li>
        <li>No key events by default</li>
        <li>Shows wrong cursor on hover</li>
      </ul>
    </li>
    
    <li class="sample">
      <h2>An image</h2>

      <p class="rating">Rating: Hell no, don’t use it!</p>

      {% highlight "html" %}
        <img src="button.png">
      {% endhighlight %}

      <img width="241" src="assets/button.png" onclick="alert('Naaay! 🥸');" class="img-btn" alt="An image that looks like a button">

      <h3>Details</h3>

      <ul class="details">
        <li>That’s an image, not a button</li>
        <li>Not keyboard focusable</li>
        <li>No key events by default</li>
        <li><code>image</code> instead of <code>button</code> role</li>
        <li>No accessible name</li>
      </ul>

    </li>

    <li class="sample">
      <h2>A  placeholder link</h2>

      <p class="rating">Rating: Hmm...no, don’t use it!</p>

      {% highlight "html" %}
        <a>Yea or nay?</a>
      {% endhighlight %}

      <a onclick="alert('Naaay! 😐');" class="btn">Yea or nay?</a>

      <h3>Details</h3>

      <ul class="details">
        <li>That’s a placeholder link, not a button</li>
        <li>Not keyboard focusable</li>
        <li>No key events by default</li>
        <li><code>link</code> instead of <code>button</code> role</li>
        <li>Shows wrong cursor on hover</li>
      </ul>
    </li>

    <li class="sample">
      <h2><i lang="de">Ned Fisch, ned Fleisch</i><a href="#footnote2" aria-label="Footnote 2">**</a></h2>

      <p class="rating">Rating: Nope, don’t use it!</p>

      {% highlight "html" %}
        <a role="button" tabindex="0">Yea or nay?</a>
      {% endhighlight %}

      <a onclick="alert('Naaay! 🐠');" role="button" tabindex="0" class="btn">Yea or nay?</a>

      <h3>Details</h3>

      <ul class="details">
        <li>That’s a placeholder link, not a button</li>
        <li>No key events by default</li>
        <li>Shows wrong cursor on hover</li>
      </ul>
    </li>


    <li class="sample">
      <h2>The worst of two worlds</h2>

      <p class="rating">Rating: Please, just don’t do that!</p>

      {% highlight "html" %}
<button>
  <a href="https://www.htmhell.dev">
    Yea or Nay?
  </a>
</button>
      {% endhighlight %}

      <button onclick="alert('Naaay! 😭');" class="btn">
        <a href="https://www.htmhell.dev">
          Yea or nay?
        </a>
      </button>

      <h3>Details</h3>

      <ul class="details">
        <li>Don’t nest interactive elements</li>
        <li>If you need a link that looks like a button, style the link accordingly</li>
      </ul>
    </li>
    </ol>

    <div class="flow">
      <h2>Further reading</h2>

      <ul>
        <li>
          <a href="https://www.tpgi.com/enough-with-the-role-play-lets-get-back-to-the-basics/">
            Enough with the role-play—let’s get back to the basics
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=CZGqnp06DnI">
            Just use button -- A11ycasts #05
          </a>
        </li>
        <li>
          <a href="https://buttonbuddy.dev/">
            ButtonBuddy
          </a>
        </li>
      </ul>
    </div>
    </main>

    <footer class="flow">
      <p>
        <small id="footnote1">* Disclaimer: There might be edge cases in which a button element might not work for the custom control you’re building. In that case use a div, but make sure that your custom button is at least as accessible as a native button. If you’ve built a such a button, please <a href="mailto:manuel@matuzo.at">get in touch</a>, I’d love to see why and how.</small><br>
        <small id="footnote2">** Neither fish nor fowl in Viennese-German</small>

      </p>
      <p>
        built with <a href="https://www.11ty.dev/" rel="noopener">eleventy</a> and ❤️ in Vienna by <a href="https://twitter.com/mmatuzo" rel="noopener">@mmatuzo</a>
      <p>

      <p>
        <small>All examples have been copied from real websites, they're not made up by me.</small>
      </p>
    </footer>
    
    
</body>
</html>
</ol>
